body {
  width: 100%;
  background: rgb(236, 234, 234);
}

body .container {
  max-width: 1000px;
  width: 100%;
  margin: 1rem auto;
  border: 1px solid rgb(168, 163, 163);
  padding: 1rem;
}

body .container h1 {
  margin-bottom: 1rem;
}

body .container p {
  margin-bottom: 1rem;
}

body .box {
  width: 100%;
}

body .editor #dropdown-examples {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: .5rem;
  margin-bottom: .5rem;
}

body .editor #dropdown-examples select {
  font-size: 1rem;
  padding: .2rem;
}

body .editor #input {
  position: relative;
}

body .editor #runButton {
  position: absolute;
  right: .5rem;
  top: .5rem;
  cursor: pointer;
  z-index: 10;
}

body .editor #output {
  position: relative;
  min-height: 100px;
  height: 100%;
  width: 100%;
  border: 1px solid rgb(189, 180, 180);
  margin-top: 1rem;
  padding: 0.625rem;
  padding-right: 2.5rem;
}

body .editor #output #executionTime {
  position: absolute;
  right: 0rem;
  top: 0rem;
  background-color: green;
  padding: .2rem;
  color: white;
  font-size: .9rem;
}

body .editor.disabled {
  opacity: 0.5;
  pointer-events: none;
}