body {
  width: 100%;
  margin-bottom: 1rem;
}

body section {
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 1.25rem;
}

body #hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

body .wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

body .content {
  gap: 1rem;
  width: 100%;
}

body .content .text {
  max-width: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

body #hero .content .text span {
  font-size: 4rem;
  line-height: 110%;
  font-weight: 700;
}

body #hero .content .text {
  font-size: 1.25rem;
}

body #hero .content .text #goToPlaugroundBtn {
  padding: 1rem 1.5rem;
  font-size: 1.375rem;
  display: flex;
  gap: .5rem;
  align-items: center;
  border-radius: 4px;
  background: linear-gradient(196deg, #ED1C24 28.47%, #530A0D 88.82%);
  color: white;
  text-decoration: none;
  max-width: 200px;
  width: 100%;
}

body .content .text .bold {
  color: #ED1C24;
  font-weight: 500;
}

body .container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid rgb(168, 163, 163);
  padding: 1rem;
}

body .container h1 {
  margin-bottom: 1rem;
}

body .container p {
  margin-bottom: 1rem;
}

body #playground {
  margin: 0;
  padding: 0;
}

body .box {
  width: 100%;
}

body #join-samora-lang .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

body #join-samora-lang .content .img {
  width: 100%;
  max-width: 400px;
}

body #join-samora-lang .content .text {
  max-width: 500px;
}

body #join-samora-lang .content .text h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

body #join-samora-lang .content .text p {
  line-height: 1.5rem;
}

@media (max-width: 470px) {
  body #hero .content .text span {
    font-size: 3rem;
  }
}

@media (max-width: 793px) {
  /*body #hero {
    background: url("/hero.png") 200px no-repeat;
    background-size: cover;
  }*/
}