body {
  width: 100%;
  margin-bottom: 1rem;
}

body section {
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 1.25rem;
}

body #hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

body .wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

body .content {
  gap: 1rem;
  width: 100%;
}

body .content .text {
  max-width: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

body #hero .content .text span {
  font-size: 4rem;
  line-height: 110%;
  font-weight: 700;
}

body #hero .content .text {
  font-size: 1.25rem;
}

body #hero .content .text #goToPlaugroundBtn {
  padding: 1rem 1.5rem;
  font-size: 1.375rem;
  display: flex;
  gap: .5rem;
  align-items: center;
  border-radius: 4px;
  background: linear-gradient(196deg, #ED1C24 28.47%, #530A0D 88.82%);
  color: white;
  text-decoration: none;
  max-width: 200px;
  width: 100%;
}

body .content .text .bold {
  color: #ED1C24;
  font-weight: 500;
}

body #playground .container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  border: 2px solid rgba(255, 255, 255, 0.20);
  padding: 4rem 2rem;
  background: #1A1A1A;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

body .copyright {
  color: #767676;
}

body .container h2 {
  color: #ED1C24;
  font-size: 2.625rem;
}

body .container p {
  margin-bottom: 1rem;
}

body #playground {
  margin: 0;
  padding: 0;
  margin-top: 10rem;
}

body .box {
  width: 100%;
}

body #join-samora-lang .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

body #join-samora-lang .content .img {
  width: 100%;
  max-width: 400px;
}

body #join-samora-lang .content .img img {
  width: 100%;
}

body #join-samora-lang .content .text {
  max-width: 550px;
}

body #join-samora-lang .content .text h2 {
  font-size: 2.625rem;
  margin-bottom: 1rem;
}

body #join-samora-lang .content .text p {
  line-height: 1.5rem;
  font-size: 1.25rem;
  color: #d1d1d1;
  font-weight: 300;
}

footer {
  padding: 1.25rem;
}

footer .wrapper {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-top: 2px solid rgba(255, 255, 255, 0.20);
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 470px) {
  body #hero .content .text span {
    font-size: 3rem;
  }
}
