@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;600;700&display=swap');

:root {
  --primary-color: #ED1C24;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Exo 2', sans-serif;
  background: #1A1A1A;
  color: white;
}

#root  {
  background: url("/bg.png") top right no-repeat;
  background: url("/bg.webp") top right no-repeat;
  background-size: 1000px;
}

a {
  text-decoration: underline;
  color: var(--primary-color);
  font-weight: 500;
}

ul li {
  list-style: none;
}

body p {
  font-size: 1.25rem;
}
