@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Exo 2', sans-serif;
  background: #1A1A1A;
  color: white;
}

#root  {
  background: url("/bg.png") top right no-repeat;
  background-size: 1000px;
}

a {
  text-decoration: underline;
  color: #ED1C24;
  font-weight: 500;
}

ul li {
  list-style: none;
}

body p {
  font-size: 1.25rem;
}